.list {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  padding: 10px;
  padding-left: 30px;

  outline: 1px solid black;
}

.listItemContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.button {
  cursor: pointer;
}

.nameContainer {
  width: 250px;
}

.numberContainer {
  width: 250px;
}
